rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Función para validar que el articulo cumple el esquema diseñado
    function isValidArticle() {
      let data = request.resource.data;
      return 
        // 1. Campos obligatorios y tipos
        data.title is string && data.title.size() > 0 &&
        data.content is string && data.content.size() > 0 &&
        data.category is string &&
        data.thumbnailURL is string &&
        
        // 3. Integridad de datos (Metadata)
        // data.authorId == request.auth.uid && // COMENTADO PARA TESTING
        data.createdAt is timestamp;
    }

    match /articles/{articleId} {
      // Cualquiera puede leer noticias
      allow read: if true;
      
      // Permitir crear si es válido (sin auth para test)
      allow create: if isValidArticle();
      
      // Permitir update/delete a cualquiera para test
      allow update, delete: if true;
    }
  }
}