rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Función para validar que el articulo cumple el esquema diseñado
    function isValidArticle() {
      let data = request.resource.data;
      return 
        // 1. Campos obligatorios y tipos
        data.title is string && data.title.size() > 0 &&
        data.content is string && data.content.size() > 0 &&
        data.category is string &&
        data.thumbnailURL is string &&
        
        // 3. Integridad de datos (Metadata)
        data.authorId == request.auth.uid && 
        data.createdAt is timestamp;
    }

    match /articles/{articleId} {
      // Cualquiera puede leer noticias
      allow read: if true;
      
      // Permitir crear si es válido y autenticado
      allow create: if request.auth != null && isValidArticle();
      
      // Permitir update/delete solo al dueño
      allow update, delete: if request.auth != null && resource.data.authorId == request.auth.uid;
    }
  }
}